In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("SetFiltered.csv", sep= ";") 
type(data)

pandas.core.frame.DataFrame

#Erste Erkenntnisse first look

Null gibt es sonst nicht
NAN auch nicht
-1 auch nicht

In [3]:
data[81:82]

,MSZoning,LotArea,Neighborhood,BldgType,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,TotalBsmtSF,HeatingQC,CentralAir,GrLivArea,TotRmsAbvGrd,GarageCars,YrSold,SalePrice
81,C (all),8500,IDOTRR,1Fam,4,4,1920,1950,Gambrel,649,TA,N,1317,6,1,2008,40000

In [15]:
data.describe()

,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,TotalBsmtSF,GrLivArea,TotRmsAbvGrd,GarageCars,YrSold,SalePrice
count,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000
mean,10629.817778,6.014444,5.652222,1969.347778,1984.185556,1028.166667,1487.441111,6.415556,1.745556,2007.896667,176184.454444
std,9947.088936,1.336912,1.151555,29.573049,20.195265,403.019702,504.588271,1.601786,0.715887,1.306010,71412.482393
min,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,334.000000,2.000000,0.000000,2006.000000,39300.000000
25%,7432.250000,5.000000,5.000000,1953.000000,1966.000000,790.250000,1102.750000,5.000000,1.000000,2007.000000,130000.000000
50%,9475.000000,6.000000,5.000000,1971.000000,1993.000000,968.500000,1443.500000,6.000000,2.000000,2008.000000,161000.000000
75%,11700.000000,7.000000,6.000000,1998.000000,2002.000000,1249.500000,1750.500000,7.000000,2.000000,2009.000000,205000.000000
max,164660.000000,10.000000,9.000000,2009.000000,2009.000000,3206.000000,4316.000000,12.000000,4.000000,2010.000000,755000.000000

In [ ]:
Lot Area riesiges Maximum kann riesige Auswirkungen haben. </br>
Riesiges Minimum und Maximum </br>

In [22]:
data[data["LotArea"].idxmax():data["LotArea"].idxmax()+1]

,MSZoning,LotArea,Neighborhood,BldgType,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,TotalBsmtSF,HeatingQC,CentralAir,GrLivArea,TotRmsAbvGrd,GarageCars,YrSold,SalePrice
844,RL,164660,Timber,2fmCon,5,6,1965,1965,Gable,1499,Ex,Y,1786,7,2,2008,228950

In [28]:
data["MSZoning"].unique()

array(['RL', 'RM', 'FV', 'RH', 'C (all)'], dtype=object)

In [31]:
data['MSZoning'].value_counts()

RL         716
RM         145
FV          28
RH          10
C (all)      1
Name: MSZoning, dtype: int64

In [32]:
data['Neighborhood'].value_counts()

NAmes      150
CollgCr    103
OldTown     71
Edwards     53
Sawyer      52
Gilbert     47
NWAmes      46
BrkSide     41
NridgHt     39
SawyerW     37
Crawfor     34
Somerst     34
Mitchel     33
NoRidge     26
Timber      21
IDOTRR      21
SWISU       18
ClearCr     17
StoneBr     13
MeadowV     12
BrDale       9
Blmngtn      9
Veenker      8
NPkVill      5
Blueste      1
Name: Neighborhood, dtype: int64

In [33]:
data['BldgType'].value_counts()

1Fam      759
TwnhsE     68
Duplex     29
Twnhs      27
2fmCon     17
Name: BldgType, dtype: int64